body{
    overflow: hidden;
    display: flex;
    flex: auto;
    margin: 0;
    padding: 0;
    left: 0;
    right: 10;
    top: 15px;
}
#img{
  position: absolute;
  background-image: url(https://img.freepik.com/foto-gratis/vista-superior-botellas-vino-sobre-fondo-madera_23-2148214866.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 835px;
  padding-right: 1290px;
  margin-left: 0px; 
}
#letras{
  position: absolute;
  font-size: 85px;
  margin-top: -5px;
  margin-left: 250px;
}

/* Estilos para el menú vertical */
#menu {
  background-color: #555;
  padding-bottom: 0px;
  margin-top: 0px;
  list-style: none;
  text-decoration: none;
  font-size: 60px;
  width: 300px; /* Ancho del menú */
  height: 100%; /* Altura del menú, ocupa toda la altura del viewport */
  position: fixed; /* Fijar el menú en su lugar */
  top: 0;
  left: 0;
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}

/* Estilos para la lista de elementos del menú */
#menu ul {
  padding: 0;
  margin: 0;
}

/* Estilos para los elementos del menú */
#menu li {
  padding: 12px;
}

/* Estilos para los enlaces dentro de los elementos del menú */
#menu a {
  display: block; /* Hacer que los enlaces ocupen todo el espacio disponible */
  text-decoration: none; /* Quitar subrayado de los enlaces */
  color: #fff; /* Color del texto de los enlaces */
  padding: 10px 20px; /* Espacio alrededor del texto del enlace */
}

/* Estilos para los enlaces cuando se les pasa el mouse por encima */
#menu a:hover {
  background-color: #555; /* Cambiar el color de fondo en el hover */
}
#img2{
  position: absolute;
  background-image: url(https://img.freepik.com/foto-gratis/vista-superior-botellas-vino-sobre-fondo-madera_23-2148214866.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-left: 200px;
  padding-bottom: 835px;
  padding-right: 1290px;
  margin-left: 0px; 
}
#titulo{
 position: absolute;
 background: linear-gradient(to right,Maroon, black  ); /* Cambia los colores según tu preferencia */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
 font-size: 60px;
 margin-top: -100px;
 margin-left: 250px;
}
#nombre{
  position: absolute;
  background-color: rgb(245, 236, 216);
  margin: 20px;
  margin-left: 440px;
  margin-top: 150px;
  padding: 300px;
  
}
#lis{
  position: absolute;
  list-style: none; 
  font-size: 80px;
  margin-left: -300px;
  margin-top: -300px;
}
#imp{
  font-size: 40px;
}
#imp:hover {
  background-color: #9dc7f3;
}
#bot{
  
  font-size: 100px; 
  position: absolute;
  margin-left: 500px;
  margin-top: 609px;
  padding-top: -150px;
  padding-bottom: 0px;
}
.boton{
  font-size: 30px;
  /*border: none;  Sin borde */
  border-radius: 9px; /* Bordes redondeados */
}
.boton:hover {
    background-color: #9dc7f3;
}

